{% extends 'base.html' %}

{% block content %}
<h1>实验室仪器设备管理系统</h1>
<body>
    <ul>
        <li><a href="{{ url_for('stuffList') }}">职工列表</a></li>
        <li><a href="{{ url_for('equipmentListAvailable') }}">可用设备管理</a></li>
        <li><a href="{{ url_for('equipmentListOut') }}">借出设备管理</a></li>
        <li><a href="{{ url_for('equipmentAdd') }}">设备购入登记</a></li>
        <li><a href="{{ url_for('equipmentRemove') }}">设备报废登记</a></li>
        <li><a href="{{ url_for('equipmentInRecord') }}">设备购入记录</a></li>
        <li><a href="{{ url_for('equipmentRemoveRecord') }}">设备报废记录</a></li>
    </ul>
</body>
{% endblock %}
